/*
	MegaCorp by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

body {
	font-size: 9pt;
}

/* Banner */

	#banner
	{
	}

	#banner h2
	{
		font-size: 3.75em;
	}

	#banner p
	{
		font-size: 1.20em;
	}
	

	
